[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
django = "*"
djangorestframework = "*"
pandas = "*"
scikit-learn = "*"
kagglehub = "*"
jupyter = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
python-decouple = "*"
nbclient = "*"

[dev-packages]
notebook = "*"
pytest = "*"

[requires]
python_version = "3.12"
